<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
    <title>Booklist</title>
</head>

<body>

    <div class="container" style="width: 75%; margin-top: 50px;">
        <div class="col-md-4">
            <h1>Books</h1>
        </div>
        <div class="col-md-4">
            <h3><span sec:authentication="name"></span></h3>
        </div>
        <table class="table table-striped">
            <tr>
                <th>Author</th>
                <th>Title</th>
                <th>ISBN</th>
                <th>Year</th>
                <th>Category</th>
                <th></th>
                <th></th>
            </tr>
            <tr th:each="book : ${books}">
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.isbn}"></td>
                <td th:text="${book.publicationYear}"></td>
                <td th:text="${book.category.name}"></td>
                <td>
                    <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/delete/{id}(id=${book.id})}" method="get">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/edit/{id}(id=${book.id})}" method="get">
                        <button type="submit" class="btn btn-warning">Edit</button>
                    </form>
                </td>
            </tr>
        </table>
        <div style="display: flex; justify-content: center; gap: 10px;">
            <form action="/add" method="get">
                <button type="submit" class="btn btn-primary">Add new book</button>
            </form>
            <form action="/addcategory" method="get">
                <button type="submit" class="btn btn-primary">Add new category</button>
            </form>
        </div>
    </div>
</body>

</html>